<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>insta485</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/logo.png" alt="black and white instagram logo">
        </a>
        <p><a href="/explore/">explore</a></p>
        <p><a href="/users/{{logname}}/">{{logname}}</a></p>
    </header>
    <div>
        {{logname}}
        <form action="/accounts/?target={{url_for('create_page')}}" method="post" enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account"/>
            <input type="hidden" name="operation" value="delete"/>
        </form>
    </div>
</body>
</html>