<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>insta485</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/static/images/logo.png" alt="black and white instagram logo">
        </a>
        <p><a href="/explore/">explore</a></p>
        <p><a href="/users/{{logname}}/">{{logname}}</a></p>
    </header>
    <div>
        <form action="/accounts/?target={{url_for('edit_page')}}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*"/>
            <input type="text" name="fullname" value="{{user.fullname}}" required/>
            <input type="text" name="email" value="{{user.email}}" required/>
            <input type="submit" name="update" value="submit"/>
            <input type="hidden" name="operation" value="edit_account"/>
        </form>
    </div>
    <p><a href="{{url_for('password_page')}}">Change password</a></p>
    <p><a href="{{url_for('delete_page')}}">Delete Account</a></p>
</body>
</html>