<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>insta485</title>
</head>
<body>
  <header>
      <a href="/">
        <img src="/static/images/logo.png" alt="black and white instagram logo">
      </a>
      <a href="/explore/">explore</a>
      <a href="/users/{{logname}}/">{{logname}}</a>
  </header>
  
  <div id="reactEntry">
    Loading ...
  </div>
  <!-- Load JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>

